.c-pagination {
	display: flex;
	max-width: 360px;
	flex-direction: row;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	margin: var(--space-xs) auto 0 auto;
}

.c-pagination__item {
	flex: 1;
}

.c-pagination__btn {
	font-size: var(--step-3);
	line-height: var(--step-3);
	padding: 12px;
	text-decoration: none;
}
