.c-support {
	margin: var(--space-l);
	text-align: center;
	font-size: var(--step--1);
}

.c-support__title {
	font-size: var(--step-1);
	font-weight: bold;
}

.c-support__bmc-link {
	text-decoration: none;
}

.c-support__bmc-button {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	border-radius: calc(var(--button-height) + var(--space-m));
	padding: var(--space-xs) var(--space-m);
	box-sizing: border-box;
	gap: var(--space-xs);
	background-color: var(--t-accent-1);
	color: var(--t-opposite);
	font-weight: bold;
}

.c-support__bmc-svg > svg {
	display: none;
	width: auto;
	height: var(--button-height);
}

.c-support__bmc-txt {
	line-height: var(--button-height);
}

.c-support__bmc-svg .c-bmc__fill {
	fill: currentcolor;
}

@media (min-width: 300px) {
	.c-support__bmc-svg > svg {
		display: inline;
	}
}
