[submodule "themes/styleguide"]
	path = themes/styleguide
	url = https://github.com/gauntface/hugo-styleguide.git
	branch = release-theme
[submodule "content/styleguide"]
	path = content/styleguide
	url = https://github.com/gauntface/hugo-styleguide.git
	branch = release-content
[submodule "themes/base-theme"]
	path = themes/base-theme
	url = https://github.com/gauntface/hugo-base-theme.git
[submodule "themes/themes/base-theme"]
	path = themes/themes/base-theme
	url = https://github.com/gauntface/hugo-base-theme.git
