[submodule "themes/styleguide"]
	path = themes/styleguide
	url = https://github.com/gauntface/hugo-styleguide.git
	branch = release-theme
[submodule "content/styleguide"]
	path = content/styleguide
	url = https://github.com/gauntface/hugo-styleguide.git
	branch = release-content
