:root{
    --off-white: #F8F6F4;
    --off-black: #373150;

    --yellow: #FED9A1;

    /* Tested with https://colourcontrast.cc/ */
    --dark-blue: #3b4a9a;
    --pink: #e40300;
    --light-blue: #1a99c6;
}